.skillRow {
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 5px 15px;
	gap: 15px;
	width: fit-content;
	font-family: Arial, sans-serif;
	color: #000;
	margin-bottom: 2px;
}

.skillRow p {
	margin: 0;
	font-size: 14px;
}

.label {
	font-weight: bold;
	color: #222121;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	padding: 4px 12px;
	border-radius: 0 15px;
	background-color: #f0f0f0;
}

.active {
	background-color: #212122;
	color: white !important;
	border-radius: 15px;
	padding: 4px 12px;
	font-weight: 500;
}
